@charset "utf-8";

@media screen and (max-width:768px){
      /* header */
      #header{top:0;z-index: 99999;}
      #header .lang{position: fixed;right: 16px;bottom: 16px;display: none;}
      #header .navbarWrap{
          width: 100%;padding:0 20px
      }
      #header .navbar{
          position: fixed;margin:initial;
          width: 100%;height: 100%;
          background: #eee;
          top:0;left: -100%;transition:0.3s;
          display: flex;justify-content: center;align-items: center;
      }
      
      #header .navbar ul{
          display: block;width:80%;
      }
      #header .navbar li{width: 100%;font-weight: bold;}
      #header .navbar li:after{display: none;}
      #header .navbar li a{color:#666;font-size:20px}
  
      .toggle{
          display: block;position: fixed;top:18px;right:16px;
          width: 24px;height: 24px;cursor: pointer;
          display: flex;justify-content: center;align-items: center;
          }
      .toggle div{
          width: 20px;height: 2px;background: #000;
          position: absolute;transition:0.3s;
      }
      .toggle .bar1{transform: translateY(-6px);}
      .toggle .bar3{transform: translateY(6px);}
  
      .toggle.active .bar1{transform: rotate(45deg) translateY(0);}
      .toggle.active .bar2{opacity:0}
      .toggle.active .bar3{transform: rotate(-45deg)  translateY(0);}

      /* visual */
    .visualWrap{height: 80vh;}




    /* footer */
footer{width: 100%;}
footer ul{flex-wrap: wrap;}
footer ul li{padding: 0 10px;}
footer li:after{
    content:"";display: block;width: 1px;height: 15px;
    background: black;position: absolute;top:5px;right: 0
}
footer>p{width: 400px;padding: 0 10px;margin-bottom: 20px;}

footer>.sns{float: left;width: 100%;}
}
